<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 4.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-4.0.dtd">
  
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/db-twitter</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">mra041328</property>
         
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>
  
  	<mapping class="persistence.User"/>
 	<mapping class="persistence.List"/>  
    <mapping class="persistence.Tweet"/>
    <mapping class="persistence.Hashtag"/>
    <mapping class="persistence.URL"/>
    
          
    </session-factory>
</hibernate-configuration>